.wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main{
	position: relative;
	margin-left: 14.5%;
	width: 85.5%;
	overflow: hidden;
}
.main > .container{
	position: relative;
	width: 50%;
	height: auto;
	padding: 9vh 0;
} 
@media (max-width: 1280px) {
	.main{margin-left: 16%;width: 84%;}
	.main > .container{width: 56%;}
}
@media (max-width: 1024px) {
	.main{margin-left: 27.2%;width: 72.8%;}
	.main > .container{width: 100%;}
}
@media (max-width: 768px) {
	.main{margin-left: 6.25%;width: 93.75%;}
}
@media (max-width: 414px) {
	.main{margin-left: 11.5%;width: 88.5%;}
} 

/* --------------------------- */
/* $bg-grid */
/* --------------------------- */
.bg-grid{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0E41B8;
}
.grey-part{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 36.5%;
}
/* --------------------------- */
/* $Loading */
/* --------------------------- */
#loading{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
#loading > img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* --------------------------- */
 /* $SideNav */
 /* --------------------------- */
.sidenav{
	position: fixed;
	top: 0;
	left: 0;
	width: 14.5%;
	height: 100%;
	overflow: hidden;
	background-color: #EFEFE8;
	z-index: 10;
}
@media (max-width: 1280px) {
	.sidenav{width: 16%;}
}
@media (max-width: 1024px) {
	.sidenav{width: 27.2%;}
}
@media (max-width: 768px) {
	.sidenav{
		width: 278px;
		left: -230px;
		transform: translateX(0);
		transition: transform 0.5s;
	}
}
.open{
	transform: translateX(230px);
}

.navbar{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-86.5%);
}

.navbar > ul{
	position: relative;
	width: 86px;
}
.navbar > ul > li{
	margin-bottom: 32px ;
}
.navbar > ul > li > a{
	padding: 8px;
	color: #000;
	transition: color 0.3s;
}
.navbar > ul > li > a:hover{
	color: #707070;
}

.link-nav{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 36.5%;
	background-color: #B4D9FF;
}
.link-nav__inner{
	position: relative;
	width: 100%;
	height: 100%;
}
.iconbox{
	position: absolute;
	bottom: 30%;
	width: 55%;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.iconbox > .icon{
	font-size: 28px;
	color: #fff;
	margin: 5%;
	transition: all 0.3s;
}
.iconbox > .icon:hover{
	color: #676767;
}

/* menu-toggle */

.menu-toggle{
	position: fixed;
	left: 0;
	top: 0;
	width: 24px;
	height: 24px;
	padding: 8px 12px 8px 12px;
	transform: translateX(0);
	transition: all 0.5s;
	z-index: 15;

	display: none;
	visibility: hidden;
}
.menu-toggle > span.top{
	position: absolute;
	display: block;
	top: 40%;
	left: 50%;
	width: 50%;
	height: 2px;
	transform: translate(-50%,0);
	transition: all 0.5s;
	background-color: #122F4D;
}
.menu-toggle > span.bottom{
	position: absolute;
	display: block;
	bottom: 40%;
	left: 50%;
	width: 29%;
	height: 2px;
	transform: translate(-79%,0) scaleX(1);
	transition: all 0.5s;
	background-color: #122F4D;
}
.close{
	transform: translateX(230px);
}
.close > span.top{
	transform: translate(-50%,150%) rotate(45deg);
}
.close > span.bottom{
	transform: translate(-50%,-150%) rotate(-45deg) scaleX(1.724);
}

@media (max-width: 768px) {
	.menu-toggle{display: block;visibility: visible;}
}


 /* --------------------------- */
 /* $Slogan side */
 /* --------------------------- */
.slogan-side{
	position: fixed;
	right: 0;
	top: 0;
	width: 43.2%;
	height: 100%;
}

.slogan-side .slogan-part{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 50;
}
.slogan-part > .bigSlogan{
	position: absolute;
	bottom: 8.33%;
	left: 28%;
	width: 60%;
	height: 83.33%;

	background-image: url('../images/jumbotron-slogan.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.slogan-part > .CTA-btn{
	position: absolute;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	bottom: 8.33%;
	right: 17.2%;
	padding: 0.8vw 1.8vw 0.8vw 1.8vw;
	border: 2px solid #000;
	border-radius: 2px;
	transition: all 0.3s;
}
.slogan-part > .CTA-btn:hover{
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
}
@media (max-width: 1280px) {
	.slogan-side{width: 37%;}
}
@media (max-width: 1024px) {
	.slogan-side{display: none;}
}


 /* --------------------------- */
 /* $Detail */
 /* --------------------------- */
.detail{
	position: fixed;
	left: 17%;
	top: 50%;
	transform: translateY(-50%);
	width: 50vw;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	border: 5px solid #000;
	border-radius: 15px;
	padding: 5vw;
	box-sizing: border-box;
	z-index: 10;

	display: none;
}

.detail > .detail__inner{
	position: relative;
	width: 100%;
	height: 100%;
}

.detail > .detail__inner > .row > img{
	display: inline-block;
	width: 35%;
	height: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 8vh;
}
.detail > .detail__inner > .row > .info{
	display: inline-block;
	width: 60%;
	height: auto;
	text-align: center;
	margin-top: 3vh;
	vertical-align: top;
}

.detail > .detail__inner > .row  h3{
	color: #000;
	margin: 0 0 0 0;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 64px;
	width: 85%;
}
.detail > .detail__inner > .row  h4{
	color: #000;
	margin: 16px 0;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 4px;
	line-height: 48px;
}
.detail > .detail__inner > .row  h5{
	color: #000;
	margin: 0;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 32px;
}
.detail > .detail__inner > .row  h6{
	color: #000;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 32px;
}

.detail--closeBtn{
	position: absolute;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
}
.closeBtn__inner{
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(50%);
}
.detail--closeBtn > .closeBtn__inner > span{
	position: absolute;
	display: block;
	width: 45px;
	height: 4px;
	background-color: #000;
	border-radius: 2px;
}
.detail--closeBtn > .closeBtn__inner > span.top{
	transform: rotate(45deg);
	transition: all 0.3s;
}
.detail--closeBtn > .closeBtn__inner > span.bottom{
	transform: rotate(-45deg);
	transition: all 0.4s;
}
.detail--closeBtn:hover > .closeBtn__inner > span.top{
	transform: rotate(-45deg);
}
.detail--closeBtn:hover > .closeBtn__inner > span.bottom{
	transform: rotate(45deg);
}
.detail__inner > .content > h4{
	color: #000;
	font-size: 32px;
	line-height: 48px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 0.5vh;
}
.detail__inner > .content > h5{
	color: #000;
	font-size: 28px;
	line-height: 48px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 0.5vh;
}
.detail__inner > .content > p{
	color: #000;
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 0;
}
@media (max-width: 1280px) {
	.detail{width: 64vw;}
}
@media (max-width: 1024px) {
	.detail{left: 30%;width: 67vw;}
}
@media (max-width: 768px){
	.detail{left: 10.5%;width: 85vw;}
}
@media (max-width: 414px){
	.detail{
		left: 48px;
		width: calc(100% - 48px);
	}
	.detail > .detail__inner > .row > img{
		display: block;
		width: 50%;
		padding-top: 16px;
		margin: 0 auto;
	}
	.detail > .detail__inner > .row > .info{
		display: block;
		width: 100%;
		margin: 3vh 0;
	}
	.detail > .detail__inner > .row > .info > h3{
		font-size: 28px;
		line-height: 36px;
	}
	.detail > .detail__inner > .row > .info > h5{
		font-size: 16px;
		line-height: 32px;
	}
	.detail > .detail__inner > .row > .info > h6{
		font-size: 14px;
		line-height: 24px;
	}
	.detail__inner > .content > h5{
		font-size: 16px;
		line-height: 24px;
	}
	.detail__inner > .content > p{
		font-size: 14px;
		line-height: 22px;
	}
}
@media (max-width: 320px){
	.detail > .detail__inner{
		height: 100%;
		overflow: hidden;
	}
	.detail > .detail__inner > .row > img{padding-top: 8px;}
	.detail > .detail__inner > .row > .info{margin: 1vh;}
	.detail > .detail__inner > .row > .info > h6{line-height: 18px;}
}
 /* --------------------------- */
 /* $Jumbotron */
 /* --------------------------- */
.monster{
	position: absolute;
	top: 20vh;
	left: 24vw;
	width: 36vw;
	overflow: hidden;
}
.monster > img{
	width: 100%;
	height: auto;
	background-size: 100% auto;
	background-position: center;
}
@media (max-width: 1280px) {
	.monster{left: 31vw;}
}
@media (max-width: 1024px) {
	.monster{
		width: 67vw;
		left: 42vw;
		top: 50%;
		transform: translateY(-50%);
	}
}
@media (max-width: 414px) {
	.monster{width: 96.8vw;left: 42vw;}
}

/* jumbotron */

.jumbotron{
	width: 100%;
	margin-left: 12%;
}
.jumbotron > .title{
	width: 250px;
	height: 110px;
	background-image: url('../images/jumbotron-title.svg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	margin-bottom: 1vh;
}
.jumbotron > .name{
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	box-sizing: border-box;
	background-color: #000;
	margin: 3vh 0;
}
.jumbotron > .name > h6{
	display: inline-block;
	color: #122F4D;
	font-size: 18px;
	letter-spacing: 4px;
	background-color: #fff;
	border: 1px solid #122F4D;
	padding: 0.5vh 0.8vw;
	margin: 0;
	transform: translate(0,0);
	animation: floating 3s ease infinite;
}
@keyframes floating {
	0%  {transform: translate(0,0);}
	50% {transform: translate(5px,-5px);}
	100%{transform: translate(0,0);}
}
.jumbotron > .girl{
	width: 10%;
	height: 175px;
	overflow: hidden;
	margin-top: 42vh;
	background-image: url('../images/jumbotron-girl.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}
@media (max-width: 414px) {
	.jumbotron > .title{width: 180px;height: 80px;}
	.jumbotron > .name > h6{padding: 0.5vh 2vw ;}
	.jumbotron > .girl{width: 16%;}
}
 
/* --------------------------- */
/* $ad-copy  */
/* --------------------------- */
.ad-copy--cover{
	background-image: url('../images/adcopy-bg.png');
	background-position: 50% bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.ad-copy{
	margin-left: 12%;
}
.ad-copy > .adbox{
	display: inline-block;
	margin-top: 32px;
}
.ad-copy > .adbox > p{
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	line-height: 28px;
	letter-spacing: 1px;
	margin: 4vh 0;
	padding-bottom: 24px;
}
.ad-copy > .adbox > hr{
	display: inline-block;
	width: 100%;
	border-top: 3px solid #fff;
	margin-bottom: 200px;
}

/* --------------------------- */
/* $courses  */
/* --------------------------- */
.courses > .title > h4,
.courses > .title > h6{
	text-align: center;
	color: #000;
}
.courses > .bg-color--darkgrey{
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	left: 0;
}

.courses h4{
	font-weight: 600;
}
.courses h6{
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 3px;
	margin-top: 0;
	margin-bottom: 14.5vh;
}
/* course Box */
.coursesBox{
	position: relative;
	margin: 0 auto;
	width: 100%;
	margin: 0;
}
#course-group .item{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5vh 4.5vw;
}
#course-group .item > .dialog{
	position: relative;
	width: 85%;
	margin-left: 15%;
	background-color: #fff;

	box-sizing: border-box;
	padding: 2.5vw 2.5vw 0.5vw 2.5vw;
}

#course-group .item > .dialog > img.triangle{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10%;
	height: auto;
	transform: translate(-18%,30%);
}

#course-group .item > .dialog > h5{
	color: #000;
	font-size: 20px;
	line-height: 40px;
	margin: 0;
	padding-bottom: 0.5vh;
}
#course-group .item > .dialog > p{
	color: #000;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 0;
}
#course-group .item > .dialog .get-more{
	position: relative;
	width: 100%;
	text-align: right;
}
#course-group .item > .dialog .get-more .more-btn{
	display: inline-block;
	color: #707070;
	font-size: 16px;
	line-height: 48px;
	transition: color 0.3s;
}
#course-group .item > .dialog .get-more .more-btn > .icon{
	display: inline-block;
	float: none;
}
#course-group .item > .dialog .get-more .more-btn:hover{
	color: #000;
}

#course-group .item > .girl{
	width: 15%;
	height: 22vh;
	overflow: hidden;
	background-image: url('../images/jumbotron-girl.svg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: bottom;
}



/* owl Custom */
.owl-theme .owl-dots{
	position: absolute;
	top: -64px;
	left: 50%;
	width: 80%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}
.owl-theme .owl-dots .owl-dot{
	width: auto;
	height: auto;
}

.owl-theme .owl-dots .owl-dot span{
	background: #fff;
	width: auto;
	height: auto;
	margin: 0;
	color: #c5c5c5;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: 600;
	padding-bottom: 6px;
	border-radius: 0;
	border-bottom: 1px solid #c5c5c5;
	transition: all 0.3s;
}


.owl-theme .owl-dots .owl-dot span:hover{
	background: #fff;
	color: #aaa;
	border-bottom: 1px solid #aaa;
}
.owl-theme .owl-dots .owl-dot.active span{
	background: #fff;
	border-bottom: 1px solid #000;
	color: #000;
}

/* --------------------------- */
/* $daily  */
/* --------------------------- */

/* our daily */
.our-daily{
	position: relative;
	width: 100%;
	background-color: #262626;
	overflow: hidden;
}
.our-daily__inner{
	position: relative;
	margin: 0 auto;
	width: 85%;
}
.our-daily  h3{
	font-weight: 600;
	letter-spacing: 3px;
	margin: 0;
	line-height: 56px;
	padding-top: 75px;
	margin-bottom: 64px;
}
.our-daily h6{
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 90px;
}

/* databox */
.our-databox-group{
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.our-databox{
	position: relative;
	margin: 0 auto;
	width: 85%;
	margin-top: 9vh;
	background-color: #fff;


	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.our-databox > .databox{
	width: 33.333%;
	height: auto;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	padding: 8px;
}
.our-databox > .databox > h2{
	color: #000;
	font-size: 48px;
	font-weight: 900;
	margin-top: 40px;
	margin-bottom: 8px;
}
.our-databox > .databox > h5{
	font-size: 20px;
	color: #000;
	font-weight: 600;
	margin-top: 0;
	font-style: oblique;
}
.our-databox > .databox > h6{
	color: #000;
	font-size: 14px;
	font-weight: 600;

}
.our-databox > .databox > p{
	color: #000;
	font-size: 10px;
	font-weight: 300;
	line-height: 18px;
}
.our-databox > .line{
	display: inline-block;
	width: 2px;
	height: 27px;
	background-color: #707070;
	margin: 0;
	padding: 0;
}
@media (max-width: 1280px) {
	.our-databox > .databox > h2{font-size: 40px;}
}
@media (max-width: 414px) {
	.our-databox{flex-direction: column;mb}
	.our-databox > .databox{width: 100%;}
	.our-databox > .databox > h2{font-size: 60px;line-height: 80px;}
	.our-databox > .databox > h5{font-size: 24px;}
	.our-databox > .databox > h6{font-size: 20px;margin-bottom: 4px;}
	.our-databox > .databox > p{font-size: 12px;}
}

/* --------------------------- */
/* $Recommend  */
/* --------------------------- */
.recommend > .title{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.recommend > .title > h4,
.recommend > .title > h6{
	text-align: center;
	color: #fff;
}
.recommend > .title > h4{
	font-weight: 600;
	letter-spacing: 1px;
}
.recommend > .title > h6{
	font-size: 18px;
	font-weight: 200;
	letter-spacing: 3px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 3vh;
}
@media (max-width: 414px) {
	.recommend > .title > h4{font-size: 28px;line-height: 40px;}
	.recommend > .title > h6{font-size: 16px;letter-spacing: 3px}
	.recommend > .title{width: 90%;}	
}	

.recommend-group{
	position: relative;
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 0 auto;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.recommend-item{
	display: block;
	width: 32%;
	text-align: center;
}


.recommend-item .imgbox{
	display: inline-block;
	width: 80%;
	overflow: hidden;
	margin: 2vh 0;

	-ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; 
}
.recommend-item .imgbox .imgbox__inner{
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 100%;
}
.recommend-item .imgbox .imgbox__inner img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

.recommend-item > h4,
.recommend-item > h6,
.recommend-item > p{
	color: #fff;
	transition: color 0.3s;
}
.recommend-item:hover > h4,
.recommend-item:hover > h6,
.recommend-item:hover > p{
	color: #0E41B8;
}
.recommend-item > h4{
	font-weight: 500;
	font-size: 24px;
	line-height: 48px;
	margin: 0;
}
.recommend-item > h6{
	font-weight: 500;
	margin-top: 0;
}

@media (max-width: 1280px) {
	.recommend-group{width: 87.66%;}
}
@media (max-width: 414px) {
	.recommend-group{flex-direction: column;}
	.recommend-item{width: 100%;margin-bottom: 16px;}
}



/* --------------------------- */
/* $Price*/
/* --------------------------- */
.price{
	text-align: center;
}
.price > .title > h4,
.price > .title > h6{
	text-align: center;
	color: #000;
}
.price > .title > h4{
	font-weight: 600;
	letter-spacing: 1px;
}
.price > .title > h6{
	font-size: 16px;
	font-weight: 200;
	line-height: 60px;
	letter-spacing: 3px;
	margin: 0;
}
.price > .SignUp_btn{
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	padding: 1.3vh 2.3vw;
	border: 2px solid #000;
	width: auto;

	font-size: 24px;
	letter-spacing: 4px;
	border-radius: 28px;
	margin: 3vh auto 5vh auto;
	transition: all 0.3s;
}
.price > .SignUp_btn:hover{
	color: #fff;
	background-color: rgba(0, 0, 0, 1.0);
}

@media (max-width: 414px) {
	.price > .title > h4{font-size: 28px;}
	.price > .title > h6{line-height: 32px;}
	.price > .SignUp_btn{padding: 16px 32px;}
}


.price-group{
	position: relative;
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 40px;

	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;	
}

.price-group > .price-box{
	width: 48%;
	height: auto;
	overflow: hidden;
	background-color: #EFEFEF;
	border-radius: 3%;
	text-align: center;

	box-shadow:3px 5px 2px rgba(0,0,0,0.2);
}
@media (max-width: 1280px) {
	.price-group{width: 90%;}
}
@media (max-width: 414px) {
	.price-group{flex-direction: column;align-items: center;padding-bottom: 0;}
	.price-group > .price-box{width: 85%;margin-bottom: 24px;}
}


.price-box > .batch{
	display: inline-block;
	text-align: center;
	width: auto;
}
.price-box > .batch > h4{
	font-size: 40px;
	line-height: 72px;
	color: #000;
	font-weight: 900;
	margin-bottom: 0;
	letter-spacing: 4px;
}
.price-box > .batch > hr{
	margin-top: 0;
	border-top: 2px solid #000;
}
.price-box > .date{
	margin-bottom: 32px;
}
.price-box > .date > h5{
	display: inline-block;
	color: #000;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 2px;
	font-weight: 500;
	margin: 0 8px;
}

.price-box > .date > .icon{
	display: inline-block;
	float: none;
	margin: 0 8px;
}
.price-box > .date > .icon:before{
	line-height: 36px;
}
.price-box > .date > p{
	color: #000;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 16px;
}


.price-box > .blue-part{
	position: relative;
	display: block;
	width: 100%;
}
.price-box > .blue-part > .blue-part__inner{
	display: block;
	width: 90%;
	height: auto;
	overflow: hidden;
	padding: 16px 0;
	margin: 0 auto;
}
.price-box > .blue-part > .blue-part__inner > p{
	text-align: left;
	margin: 0;
	font-weight: 400;
}
.price-box > .blue-part > .blue-part__inner > h4,
.price-box > .blue-part > .blue-part__inner > h5{
	display: inline-block;
	font-weight: 900;
}
.price-box > .blue-part > .blue-part__inner > h4{
	font-size: 40px;
	letter-spacing: 4px;
	margin: 24px 16px	 24px 0 ;
	float: right;
}
.price-box > .blue-part > .blue-part__inner > h5{
	text-decoration: line-through;
	font-size: 28px;
	float: left;
}
@media (max-width: 1024px) {
	.price-box > .blue-part > .blue-part__inner{width: 85%;}
	.price-box > .blue-part > .blue-part__inner > p{font-size: 18px;}
	.price-box > .blue-part > .blue-part__inner > h4{font-size: 48px;}
	.price-box > .blue-part > .blue-part__inner > h5{font-size: 32px;}
}

/* --------------------------- */
/* $PhotoWall  */
/* --------------------------- */
.photowall{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.photowall > img{
	display: block;
	width: 100%;
	height: auto;
}
@media (max-width: 414px) {
	.photowall > img{width: 150%;}
}
/* --------------------------- */
/* $teachers  */
/* --------------------------- */
.teachers-group{
	position: relative;
	width: 80%;
	height: auto;
	min-height: 100vh;
	margin: 0 auto;
	z-index: 10;
}
.teachers-group > .teacherbox{
	position: relative;
	display: block;
	width: 100%;
	min-height: 260px;
	background-color: #ccc;
	box-sizing: border-box;
	text-align: right;
}
.teachers-group > .teacherbox > .teacherbox__inner{
	position: relative;
	width: 100%;
	height: 260px;
	box-sizing: border-box;
}
.teachers-group > .teacherbox > .teacherbox__inner > h4{
	font-size: 24px;
	color: #000;
	font-weight: 600;
	margin: 0;
	padding: 2vh 2vw 0 2vw;
}
.teachers-group > .teacherbox > .teacherbox__inner > h5{
	font-size: 18px;
	color: #000;
	font-weight: 600;
	margin: 0;
	padding:  0 2vw;

}
.teachers-group > .teacherbox > .teacherbox__inner > a > img{
	position: absolute;
	display: block;
	bottom: 1.5vw;
	right: 3vh;
	width: 40px;
	z-index: 50;
	opacity: 1;
	transition: opacity 0.3s;
}
.teachers-group > .teacherbox > .teacherbox__inner > a:hover > img{
	opacity: 0.5;
}
.teachers-group > .teacherbox > .teacherbox__inner > img{
	position: absolute;
	bottom: -4px;
	left: 5%;
	width: 20vw;
	height: auto;
}

.teachers-group > .teacherbox-1{background-color: #FFCEA2;}
.teachers-group > .teacherbox-2{text-align: left;background-color: #D0D5CD;}
.teachers-group > .teacherbox-2 > .teacherbox__inner > img{left: 37%;}
.teachers-group > .teacherbox-3{background-color: #D4C7D1;}

.teachers-group > .teacherbox-1 > .teacherbox__inner{border-bottom: 2px solid #FFCEA2;}

.teachers-group > .teacherbox > .teacher-detail{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 20vh;
	background-color: #F3E9E0;
	box-sizing: border-box;
	padding: 2.5vh 2.5vw;
	text-align: left;
	z-index: -1;

	transform: translate(0,0);
	transition: transform 0.5s;
}
.teachers-group > .teacherbox > .teacher-detail.move{
	transform: translate(100%,0);
}
.teachers-group > .teacherbox > .teacher-detail > h4,
.teachers-group > .teacherbox > .teacher-detail__mobile > h4{
	font-size: 24px;
	font-weight: 600;
	color: #000;
	margin: 0;
	line-height: 56px;

}
.teachers-group > .teacherbox > .teacher-detail > p,
.teachers-group > .teacherbox > .teacher-detail__mobile > p{
	font-size: 16px;
	font-weight: 300;
	color: #000;
	margin: 0;
}

.teachers-group > .white{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height:100vh;
	transform: translateY(-50%);
	background-color: #fff;
}
.teacher-detail__mobile{
	position: relative;
	width: 100%;
	height: auto;
	min-height: 20vh;
	background-color: #F3E9E0;
	box-sizing: border-box;
	padding: 2.5vh 2.5vw;
	text-align: left;
	padding-bottom: 64px;
	overflow: hidden;
	transition: all 0.3s;
	display: none;

}
@media (max-width: 1024px) {
	.teachers-group > .teacherbox > .teacherbox__inner > img{width: 34vw;}
	.teachers-group > .teacherbox > .teacher-detail{display: none;visibility: hidden;}
	.teachers-group > .teacherbox > .teacher-detail__mobile.move{
		display: block;
	}
}
@media (max-width: 768px){
	.teachers-group > .teacherbox > .teacherbox__inner > img{width: 48vw;}
}
@media (max-width: 414px){
	.teachers-group{width: 100%;}
	.teachers-group > .teacherbox > .teacher-detail__mobile{padding: 5vh 8vw;}
}

/* --------------------------- */
/* $MoreCourses  */
/* --------------------------- */
.MoreCourses{
	position: relative;
	width: 80%;
	height: auto;
	min-height: 100vh;
	margin: 0 auto;
}
.MoreCourses > h1{
	font-size: 48px;
	font-weight: 600;
	color: #000;
	text-align: center;
	letter-spacing: 4px;
}
.MoreCourses-item{
	position: relative;
	width: 100%;
	height: auto;
	border-radius: 40px;
	overflow: hidden;
	border: 4px solid #000;
	margin: 5vh 0;
	transition: all 0.3s;
}

.MoreCourses-item > h5{
	display: inline-block;
	font-size: 32px;
	font-weight: 600;
	padding: 0 2vw;
	margin: 24px 0;
	border-right: 4px solid #000;
	color: #000;
}
.MoreCourses-item > h6{
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	padding-left: 2vw;
	margin: 24px 0;
	color: #000;
}
.MoreCourses-btn{
	position: absolute;
	top: 50%;
	right: 2vw;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
}
.MoreCourses-btn > span.top,
.MoreCourses-btn > span.bottom{
	position: absolute;
	display: block;
	left: 50%;
	width: 80%;
	height: 4px;
	border-radius: 2px;
	transition: all 0.5s;
	background-color: #000;
}
.MoreCourses-btn > span.top{
	top: 50%;
	transform: translate(-50%,0) rotate(0);
}
.MoreCourses-btn > span.bottom{
	bottom: 40%;
	transform: translate(-50%,0) rotate(90deg);
}

.MoreCourses-item:hover{
	background-color: #000;
}
.MoreCourses-item:hover > h5,
.MoreCourses-item:hover > h6{
	color: #fff;
}
.MoreCourses-item:hover > h5{
	border-right: 4px solid #fff;
}
@media (max-width: 414px) {
	.MoreCourses{width: 90%;}
	.MoreCourses > h1{font-size: 28px;letter-spacing: 2px;}
	.MoreCourses-item > h5{
		font-size: 20px;
		padding: 0 4vw;
		border-right: 3px solid #000;
	}
	.MoreCourses-item > h6{font-size: 16px;}
	.MoreCourses-btn{width: 32px;height: 32px;}
}
@media (max-width: 320px){
	.MoreCourses > h1{font-size: 24px;}
	.MoreCourses-item > h5{font-size: 18px;}
	.MoreCourses-item > h6{font-size: 14px;}
} 

/* detail-custom */
.MoreCourses-detail{
	padding: 3vw;
}

.MoreCourses-detail > .detail__inner > .row > h3{
	display: inline-block;
	padding-bottom: 4vh;
	border-bottom: 6px solid #000;
}
.detail__inner > .MoreCourses-content{
	display: inline-block;
	width: 55%;
}
.MoreCourses-detail > .detail__inner > .row > h4{
	margin: 3vh 0;
}
.MoreCourses-photo{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 4%;
}
.MoreCourses-photo > img{
	width: 100%;
	height: auto;
	border: 2px solid #000;
}
@media (min-width: 1025px) and (max-width: 1280px) {
	.MoreCourses-detail{width: 76vw;}
}
@media (max-width: 1024px) {
	.detail__inner > .MoreCourses-content{width: 100%;}
	.MoreCourses-photo{display: none;}
	.MoreCourses-detail > .detail__inner > .row > h3{
		font-size: 32px;
		letter-spacing: 4px;
		padding-bottom: 3vh;
	}
	.MoreCourses-detail > .detail__inner > .row > h4{
		font-size: 24px;
		margin: 2vh 0;
		letter-spacing: 2px;
	}
}
@media (max-width: 768px) {
	.MoreCourses-photo{
		display: block;
		margin: 3vh auto;
		width: 60%;
	}
	.MoreCourses-detail > .detail__inner > .row > h3{
		padding-bottom: 2vh;
	}
	.MoreCourses-detail > .detail__inner > .row > h4{
		margin: 1vh 0;
	}

}
@media (max-width: 414px){
	.MoreCourses-photo{display: none;}
	.MoreCourses-detail > .detail__inner > .row > h3{
		font-size: 24px;
		line-height: 40px;
		width: 80%;
	}
	.MoreCourses-detail > .detail__inner > .row > h4{
		line-height: 28px;
		letter-spacing: 2px;
		font-size: 18px;
	}
	.MoreCourses-detail > .detail__inner > .content > p{
		font-size: 14px;
		line-height: 24px;
	}
	.MoreCourses-detail > .detail__inner > .row > .detail--closeBtn  > .closeBtn__inner > span{
		width: 32px;
	}
}





